.about {
  text-align: center;
  font-family: 'Open Sans',sans-serif;
  font-weight: 500;
  line-height: 1.1;
  padding-left: 30%;
  padding-right: 30%;
}

@media(max-width: 991px) {
  .about {
    padding: 0 24px;
  }
}

@media(max-width: 767px) {
  .about {
    padding: 0 16px;
    }
}