.skills {
  font-family: 'consolas';
}

.skills-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skills-group {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
   background-color: rgba(231, 227, 227, 0.863); 
  width: calc(25% - 20px); /*20px es la calle*/
  height: 210px;
  margin-bottom: 24px;
  border-radius: 20px;
}

.skills-title {
  padding: 1%;
}

h5 {
  text-align: center;
}

@media(max-width: 991px) {
  .skills-column {
    padding: 0 24px;
  }
  .skills-group {
    width: calc(50% - 12px);
  }
}

@media(max-width: 767px) {
  .skills-column {
    padding: 0 16px;
  }
  .skills-group {
    width: 100%;
    margin-bottom: 16px;
  }
}