.icon {
  padding-left: 2px;
  padding-top: 2px;
  height: 40px;
  width: 40px;
}

.list-icons {
  display: flex;
}

.copyrigth {
  font-family: 'consolas';
  font-size: 12px;
}

.footer{
  background-color: #efefef;
}