.footer{
  background-color: #efefef;
}

.list-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  padding-left: 2px;
  padding-top: 2px;
  height: 40px;
  width: 40px;
}

.copyrigth {
  font-family: 'consolas';
  font-size: 12px;
  text-align: center;
}

